server/.vs/server/FileContentIndex/3e553893-6b14-4dd9-817d-628b97371c3a.vsidx
server/.vs/server/FileContentIndex/5eb3959d-dcd3-4b53-9eed-a2f58907bef7.vsidx
server/.vs/server/FileContentIndex/079f09d0-250d-4392-9788-136f87ed011f.vsidx
server/.vs/server/FileContentIndex/97aa0bad-24d7-4359-8a9a-089c1c8f7019.vsidx
server/.vs/server/FileContentIndex/553bcc54-5b7d-465e-941d-bba22b47413c.vsidx
server/.vs/server/FileContentIndex/04013a8f-78b4-44cd-af66-85f4bb7e7886.vsidx
server/.vs/server/FileContentIndex/62961c5a-65ba-4f53-9cd8-67c380c8ef4d.vsidx
server/.vs/server/FileContentIndex/dd30b945-b339-4946-8b95-b3958253b907.vsidx
server/.vs/server/FileContentIndex/e5a48deb-41cf-4264-bfec-6481b016ff80.vsidx
server/.vs/server/FileContentIndex/e272207c-1c07-4470-8d83-e222348ba05e.vsidx
server/.vs/server/v17/.suo
server/.vs/server/FileContentIndex/5eb3959d-dcd3-4b53-9eed-a2f58907bef7.vsidx
server/.vs/server/FileContentIndex/079f09d0-250d-4392-9788-136f87ed011f.vsidx
server/.vs/server/FileContentIndex/dd30b945-b339-4946-8b95-b3958253b907.vsidx
server/.vs/server/FileContentIndex/e5a48deb-41cf-4264-bfec-6481b016ff80.vsidx
server/.vs/server/FileContentIndex/e272207c-1c07-4470-8d83-e222348ba05e.vsidx
server/.vs/server/v17/.suo
server/.vs/slnx.sqlite
server/.vs/server/DesignTimeBuild/.dtbcache.v2
server/.vs/server/FileContentIndex/a7d1e4bb-1312-4e9e-b90c-8ddd6f1fae56.vsidx
server/.vs/server/FileContentIndex/e6284014-1332-4d5c-bbb4-ac840f2a9e7e.vsidx
server/.vs/server/v17/.suo
server/.vs/server/FileContentIndex/1544c6c1-8935-45b8-9d38-1d617e7cbeb8.vsidx
/server/.vs/server/FileContentIndex
